.rodapePrincipal-patrocinadores .container {
	display:flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin-right: 5%;
}

.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-contatoForm-emailInput {
	display:flex;
}

.rodapePrincipal-navMap-list {
	display: flex;
	flex-flow: column wrap;
	height: 260px;
}
