.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;

}

.videoSobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

@media screen and (max-width: 768px){
    .videoSobre .container {
        flex-direction: column;
    }
    .videoSobre-video {
        margin: auto;
    }
}